    @charset "UTF-8";
    .mt-table {
        // ak-table{
        $border: rgb(199, 184, 184);
        $highlight: #dfe9eb69; //鼠标经过高亮背景色
        $stripe: #f9f9f9; //斑马纹
        $background: #fff; //table背景色
        $selectBackground: #fcf8e3; //勾选行的背景颜色
        position: relative;
        table {
            border-collapse: collapse;
            border-spacing: 0;
            margin: 0;
            padding: 0;
            transform-style: preserve-3d;
            border: 1px solid $border;
            width: 100%;
            /*鼠标悬停时的高亮*/
            td,
            th {
                border: 1px solid $border;
                background: $background;
                padding: 8px 10px;
                box-sizing: border-box;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            td {
                padding: 3px 10px;
            }
            .empty {
                text-align: center;
            }
        }
        /*溢出不换行*/
        .ellipsis {
            table-layout: fixed;
        }
        /*奇偶分隔*/
        .stripe {
            tr:nth-child(odd) td {
                background: $stripe
            }
        }
        .hover {
            tr:hover td {
                background: $highlight;
                transition: all .5s
            }
        }
        /*显示纵向边框*/
        .border {
            th,
            td {
                border: 1px solid $border;
            }
            // transform左右移动，边框会消失，这里补上
            .left:after,
            .right:after {
                content: '';
                border-right: 1px solid $border;
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                border-left: 1px solid $border;
                box-sizing: border-box;
            }
        }
    }