body {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mt-input-group  {
    display: inline-table !important;
    border-collapse: separate;
    border-spacing: 0;
  }
  .mt-input-group .mt-input__inner {
    vertical-align: middle;
    display: table-cell;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .mt-input__prepend {
    background-color: #f5f7fa;
    color: #909399;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    padding: 0 20px;
    width: 1px;
  
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .mt-input__inner {
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #dcdfe6;
    font-size: inherit;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .mt-input__inner:focus {
    border: 1px solid #409eff;
    outline: 0;
  }